.columns > div {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.columns img {
  width: 60%;
}

.columns > div > div {
  order: 1;

}

.columns > div > .columns-img-col {
  order: 0;
  position: relative;
  left: 250px;

}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
    background-color: white;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
